.chatbox {
    position: fixed;
    right: 40px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    z-index: 5;

}

.chatbox>img:last-child {
    margin-left: 250px;
}

.chatbox:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #333);
    filter: drop-shadow(5px 5px 5px #333);
}

.chat-title {
    padding: 10px;
    border-bottom: 1px solid #333;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.chat-title .row:last-child {
    text-align: right;
    z-index: 6;
}

.chat-title img {
    padding: 3px;
    height: 15px;
}

.chat-title img:hover {
    background-color: #ccc;
}

.onchat {
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.main-chat {
    height: 380px
}

.chat-bottom{
    height: 60px;
}

.chat-bottom div{
    max-height: 100%;
}

.chat-bottom input{
    font-size: 14px;
    max-height: 100%;
}

.slideup {
    animation: glide 500ms ease-out backwards;
}


@keyframes glide {
    from {
        bottom: 10px;
        opacity: 0.5;
    }

    to {
        bottom: 50px;
        opacity: 1;
    }

}

.fix-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
    animation: glide-down 500ms ease-out backwards;
}

.fix-search .top-header{
    display: none;
}

.fix-search .nav{
    height: 90px;
}

.fix-search .nav img{
    height: 90px;
    width: 90px;
}

@keyframes glide-down {
    from {
        top: -150px;
    }
    to{
        top: 0;
    }
}

.header{
    opacity: 1;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.background-image{
    background: url('../images/lobby.jpg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.booking-frame{
    background-color: #F2F2F2;
    padding-top: 30px;
}
.booking-frame .container{
    margin-left: 7% !important;
    max-width: 86%;
    margin-right: 7%;
    padding-right: 0;
}
.book-view-container{
    display: flex;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px #ccc solid;
    background-color: #fff;
    padding: 20px;
}
.left-element{
    margin-right: 20px;
    width: 700px;
}
.room-title h4{
    text-transform: uppercase;
}
.price-container{
    display: flex;
}
.price-container .left-price{
    text-align: left;
    width: 70%;
}
.price-container .right-price{
    text-align: right;
    width: 30%;
}

.right-price p{
    margin-bottom: 5px;
}
.right-price button{
    margin-top: 15px;
}

.react-datepicker button{
    width: 25px !important;
}
.booking-date-picker{
    display: flex;
    border-radius: 5px;
    
    padding: 20px 20px 20px 20px;
    background-color: #fff;

}

.booking-date-picker > div{
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;
}


.booking-date-picker input{
    height: 40px;
    width: 260px;
    font-size: 20px;
}

.booking-date-picker .arrive-date, .booking-date-picker .leave-date{
    display: flex;
}


.icon-calendar{
    width: 20%;
    padding: 10px;

}
.main-calendar{
    width: 80%;
    padding-left: 50px;
}

#submitFormBtn{
    width: 100% !important;
    margin-top: 20px;
    height: 50px;
   
}
.stay-time{
    display: flex;
}

.stay-time .left-stay-time{
    width: 50%;
}

.stay-time .right-stay-time{
    text-align: left;
    width: 50%;
}

.book-form{
    border: 1px solid #ccc;
    border-radius: 5px;
    height: fit-content;
    padding: 20px;
    background-color: #fff;
    width: 500px ;
}

.fix-form{
    position: fixed;
    top: 93px;
    right: 8%;
    width: 500px ;
    left: 64.65%;
}